node_modules
.pnpm-store
.DS_Store
dist
build
.turbo
.cache
*.tsbuildinfo
.kr-data
.kr-data/
.kr-data/**
.kr-data-*
.kr-data-*/**
.kr-data-*/
.kr-data-*/**

playwright-report/
test-results/

__pycache__/
*.py[cod]

.env
.env.*
!.env.example

